<div class = 'container my-3'>
  <h1 class = 'font-weight:bolder'>Upcoming events</h1>
  <div class = 'row'>
    <% @upcoming_events.each do |event| %>
      <div class="card col-3 bg-info text-white font-weight:bolder mt-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= event.name %></h5>
          <h6 class="card-subtitle mb-2"><%= event.date %></h6>
          <p class="card-text"><%= event.description %></p>
          <% if logged_in?%>
            <%= render 'attendees/attendence_form', event: event%>
          <% end %>
          <%= link_to 'Show', event, class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
  <h1>Past events</h1>
  <div class = 'row'>
    <% @past_events.each do |event| %>
      <div class="card col-3 bg-info text-white font-weight:bolder" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title"><%= event.name %></h5>
          <h6 class="card-subtitle mb-2"><%= event.date %></h6>
          <p class="card-text"><%= event.description %></p>
          <%= link_to 'Show', event, class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
