<h1>Create an Event</h1>
<%= form_with(model: @event, local: true) do |f|%>
  <%= f.label :name%>
  <%= f.text_field :name %><br>
  <%= f.label :date %>
   <%= f.text_field :date %><br>
   <%= f.label :description %>
  <%= f.text_field :description %><br>
  <%= f.submit "Submit" %>
<% end %>